@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
    
    }

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor:  pointer;  
}

.about-me {
    text-decoration: none;
}
.logo img {
    width: 60px;
    margin-top: -35px;
    margin-right: 40px;
    margin-left: -7px;
}

.active {
    Color: pur !important;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white;

}

.app-text{

    width: 50%;
    float: left;

}

.App-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.about-content h3 {
    margin-top: -5%;
    font-size: 55px;
    color: gray;
}
.about-content h4 {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: white;

}


.about {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10rem;
    padding: 5rem 15%;
    justify-content: center;
    background: var(--second-bg-color);
    padding-bottom: 5rem;

}

.about-img {
    margin-top: -6%;
    border-radius: 5%;
    overflow: hidden;
    align-items: self-start;
}
.about-img:hover .imgReveal{
    animation: spin 6s linear infinite;
}
.imgReveal {
    width: 300px;
    height: auto;
    border-radius: 5%;
    transition: transform 0.5s ease;
}

a {
    text-decoration: none;
}

.social-media {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
}
.social-media a:link {
    padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
    margin: 0 10px;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.social-media a:hover {
    background-color: #3a9859de;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    justify-content: space-between;
}
.app-picture {
    width: 100%;
    float: right;
}
.app-picture img {
    width: 80%;
    margin-top: -140%;
    margin-left: -40%;
   
}