@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@300&display=swap');
body {
    width: 100%;    
    height: 77vh;
    background-color: 4a;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent
}

.menu ul {
    display: inline-flex;
    margin: 50px;
    
    }

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor:  pointer;  
}

.about-me {
    text-decoration: none;
}
.logo img {
    width: 60px;
    margin-top: -35px;
    margin-right: 40px;
    margin-left: -7px;
}

.active {
    Color: pur !important;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white;

}

.app-text{
    width: 50%;
    float: left;

}

.App-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.App-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;

}

.app-picture {
    width: 100%;
    float: center;
}
.app-picture img {
    width: 50%;
    margin-top: -220px;
    margin-left: -220px;
    padding-left: -200px;
}

.btn-box a {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    top: -320px;
    left: 13%;
    margin: 28px;
    background: #19bafa;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;   
    font-size: 19px;
    color : #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:nth-child(1)::before {
    background: #0f6b8f;
    border-radius: 20px;
    z-index: 1;
}
.btn-box a::nth-child(1)::before {
    
    content: " " ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#0000007c;
    z-index: -1;
    transition: .5s;
    
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: white;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.btn-box a:nth-child(2)::before {
    background: #0f6b8f;
    border-radius: 20px;
    z-index: 1;

}

.btn-box a::before {
    content: " " ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#0000007c;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.about {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10rem;
    padding: 5rem 15%;
    justify-content: center;
    background: var(--second-bg-color);
    padding-bottom: 5rem;

}

.about-img {
    
    border-radius: 5%;
    overflow: hidden;
    align-items: self-start;


}

a {
    text-decoration: none;
}

.hu {
    width: 60px;
}


.hu img {
    width: 500%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.banner1 {
    width: 80%;
    height: 70%;
    top: 20%;
    left: 100px;
    position: absolute;
    color: green;

}

.app-text1{
    width: 40%;
    float: left;

    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;  
}

.App-text1 h3 {
    width: 650px;
    font-size: 20px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: white; 

}
.app-picture3 {
    width: 100%;
    float: center;
}
.app-picture3 img {
    width: 40%;
    margin-top: -25%;
    margin-right: 40px;
    padding-left: 900px;
}

