@import url('https://fonts.googleapis.com/css2?family=sans-serif:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
    
    }

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor:  pointer;  
}

.about-me {
    text-decoration: none;
}
.logo img {
    width: 60px;
    margin-top: -35px;
    margin-right: 40px;
    margin-left: -7px;
}

.active {
    Color: pur !important;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

a {
    text-decoration: none;
}

.banner4 {
    width: 80%;
    height: 70%;
    top: 20%;
    left: 200px;
    position: absolute;
    color: white;

}
.app-text4{
    width: 30%;
    float: center;

}
.App-text4 h1 {
    font-size: 43px;
    width: 600px;
    position: relative;
    margin-left: 40px;
}
.App-text4 h2 {
    width: 600px;
    font-size: 15px;
    margin: 40px 0 35px 30px;
    line-height: 25px;
    color: wheat;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a);
    background-origin: border-box;
    background-clip: content-box, border-box;  
    background-repeat: no-repeat;
}

.social-media {
    width: 1000px;
    margin-top: 30px;
    display: inline-block;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: inline-block;
}
.social-media a:link {
    padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  margin: 0 10px;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.social-media a:hover {
    background-color: #3a9859de;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    justify-content: space-between;
}

.app-picture {
    width: 100%;
    float: right;
}
.app-picture img {
    width: 40%;
    margin-top: 20%;
    margin-left: 50px;
   
}
